[Unit]
Description=My Web Application
After=network.target cloud-init.service

[Service]
Type=simple

User=myuser
WorkingDirectory=/opt
ExecStart= java -jar /opt/cloud/webapplication-0.0.1-SNAPSHOT.jar --spring.profiles.active=production --spring.config.location=file:///opt/cloud/application.properties
Restart=always
RestartSec=5

[Install]
WantedBy=cloud-init.service

